@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tea-green: #def6caff;
  --pink: #f8bdc4ff;
  --plum-web: #f497daff;
  --violet-web-color: #f679e5ff;
  --purple-pizzazz: #f65be3ff;

  /* Optional utility colors */
  --text-color: var(--black-pizzazz);
  --bg-color: var(--tea-green);
  --primary-color: var(--plum-web);
  --accent-color: var(--pink);
}

body {
  font-family: 'Inter', sans-serif;
}

/* For headings or special parts */
h1,
h2,
h3,
a {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
}

a {
  color: var(--primary-color);
}
